RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.pointud\.com$ [NC]
RewriteRule ^(.*)$ https://www.pointud.com/$1 [L,R=301]

# Prevent viewing of htaccess file.
<Files .htaccess>
    order allow,deny
    deny from all
</Files>