.btn {
    font-size: 1.5rem;
    font-weight: $btn-font-weight;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 0;
    padding: $btn-padding-y $btn-padding-x;
    cursor: pointer;
    user-select: none;
    backface-visibility: hidden;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-image: none;
    touch-action: manipulation;
}

.btn-link {
    font-family: vcr;
    text-transform: uppercase;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    @media screen and (max-width: 768px) {
        font-size: $font-size-sm;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        span {
            text-decoration: underline;
            animation: blink .6s infinite;
        }
    }
}