@font-face {
    font-family: 'neon';
    src: url('../fonts/neon-webfont.woff2') format('woff2'),
         url('../fonts/neon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monoton';
    src: url('../fonts/monoton-regular-webfont.woff2') format('woff2'),
         url('../fonts/monoton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}