.form-group {
    width: 100%;
}

.form-control {
    color: $body-color;
    display: block;
    transition: font-size .3s;
    @media screen and (max-width: 768px) {
        font-size: 1.7rem;
    }
}

.fl-form {
    input.fl-input,
    select.fl-select,
    textarea.fl-textarea {
        border-width: 0 0 1px;
        &:valid {
            border-bottom-color: $valid;
        }
    }
    .fl-is-required:before {
        content: none;
    }
}

.required {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}