form {
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
}

.form-control {
    color: $clear;
    display: block;
    width: 100%;
    background-color: $dark;
    border-width: 0 0 1px;
    padding: 1.5rem;
    &:valid {
        border-bottom-color: $green;
    }
}
