$dark: #111;
$clear: #f5f5f5;

html {
  font-size: 10px;
}

body {
  color: $clear;
  background-color: $dark;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.8;
  margin: 0;
  @media (max-width: 379px) {
    font-size: 1.5rem;
    letter-spacing: 0;
  }
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
}

.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  color: $clear;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0;
  border: 0;
  background-color: transparent;

  &::before {
    box-sizing: border-box;
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    max-width: 0;
    will-change: max-width;
    background-color: $clear;
    color: $dark;
    transition: max-width .4s ease-out;
  }

  &:hover,
  &:focus {
    &::before {
      max-width: 100%;
    }
  }
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 75px 10%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
